* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-areas: 
        "bandeau bandeau bandeau"
<<<<<<< HEAD
        "menuhaut contenu blocnews"
        "menubas contenu blocnews"
=======
        "menuhaut contenu contenu"
        "menubas contenu contenu"
>>>>>>> 12a2b43b26de9345ec8a1aa8e9d1629d3ec0c9d3
        "pieddepage pieddepage pieddepage";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    height: 100vh;
<<<<<<< HEAD
    gap: 10px;
=======
>>>>>>> 12a2b43b26de9345ec8a1aa8e9d1629d3ec0c9d3
}

.bandeau {
    grid-area: bandeau;
    background-color: cyan;
    padding: 20px;
    text-align: center;
}

.menu-haut {
    grid-area: menuhaut;
    background-color: lightgreen;
    padding: 20px;
}

.menu-bas {
    grid-area: menubas;
    background-color: lightpink;
    padding: 20px;
}

.contenu {
    grid-area: contenu;
    background-color: yellow;
<<<<<<< HEAD
    padding: 20px;
    overflow-y: auto;
}

.bloc-news {
    grid-area: blocnews;
    background-color: orange;
    padding: 20px;
    text-align: center;
}

=======
    width: 100%;
}

.bloc-news {
    float: right;
    background-color: orange;
    padding: 20px;
    height: 150px;
    width: 150px;

}
>>>>>>> 12a2b43b26de9345ec8a1aa8e9d1629d3ec0c9d3
.pied-de-page {
    grid-area: pieddepage;
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
}
<<<<<<< HEAD
.bande {
    grid-area: bande;
    background-color: cyan;
    padding: 20px;
    text-align: center;
}
=======

>>>>>>> 12a2b43b26de9345ec8a1aa8e9d1629d3ec0c9d3
