body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.bandeau {
    background-color: cyan;
    color: black;
    text-align: center;
    padding: 20px;
}


.contenu {
    background-color: orange;
    color: black;
    text-align: center;
    height: 750px;
    padding: 50px;
}

.pied-de-page {
    background-color: lightgreen;
    color: black;
    text-align: center;
    padding: 20px;
}
